@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Comfortaa', sans-serif;
}
.navbar-trigger{
    cursor: pointer;
    font-size: 30px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
}

.closebtn {
    color: white;
    align-self: center;
    padding-inline: 10px;
    margin-inline-end: 0.5rem;
    font-size: 2.3rem;
    cursor: pointer;
}

.sidenav__upper{
    display: flex;
    padding-block: -10px 30px;

    div:first-child {
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-inline-start: 30px;
    }

}

.sidenav__links {
    flex: 1;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav__footer{
    padding: 20px 40px;
    color: #fff;
}
.sidenav .closebtn {
    /* position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; */
}

.homePage{
    padding-top: 30vh;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}